// Colorss
$darkgrey: #3f3f3f;
$lightblack: #252429;
$black: #1d1d1d;
$lightpurple: #A872C9;
$purple: #614f87;
$darkpurple: #3c2161;
$white: #efefef;
$red: #ee4060;
$yellow: #ffda71;
$background_color_1: #f9f9f9;
$border_color_1: transparent transparent $white transparent;

// Fonts
$font_family_1: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif;
$font_family_2: 'Montserrat', sans-serif;
