@import "vars";

:root {
  --color-darkgrey: #{$darkgrey};
  --color-lightblack: #{$lightblack};
  --color-black: #{$black};
  --color-lightpurple: #{$lightpurple};
  --color-purple: #{$purple};
  --color-darkpurple: #{$darkpurple};
  --color-white: #{$white};
  --color-red: #{$red};
  --color-yellow: #{$yellow};
}

body {
  font-family: $font_family_1;
  font-weight: normal;
  min-height: 100vh;
  font-size: 112.5%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.025em;
  background-color: var(--color-lightblack);
  color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $font_family_2;
  font-weight: 600;
}
h1 {
  @media screen and (max-width: 650px) {
    font-size: 1.7rem;
  }
}
h2 {
  @media screen and (max-width: 650px) {
    font-size: 1.2rem;
  }
}
main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  @media screen and (min-width: 650px) {
    padding: 1rem 2rem 5rem;
  }
}
header {
  a {
    color: $white;
    &:hover {
      color: $red;
    }
  }
}
footer {
  max-width: 1080px;
  margin: 2rem auto 0;
  padding: 5rem 0;
}
a {
  color: $lightpurple;
  transition: 0.25s all ease;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $red;
  }
}
img {
  max-width: 100%;
}
nav {
  width: 100%;
  background: $purple;
  a {
    color: $white;
    padding: 1rem;
    display: inline-block;
  }
}
.content {
  padding: 1rem;
}
button {
  cursor: pointer;
}
main {
  button {
    border-radius: 0.3rem;
    font-size: 1rem;
    background: $red;
    color: $white;
    padding: 0.7rem 1rem;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    &:hover,
    &:focus,
    &:active {
      background: $purple;
    }
  }

  ul {
    & > li {
      margin-bottom: 0.5rem;
    }
  }
}
