.sr-only
    border 0 !important
    clip rect(1px, 1px, 1px, 1px) !important
    clip-path inset(50%) !important
    height 1px !important
    overflow hidden !important
    padding 0 !important
    position absolute !important
    width 1px !important
    white-space nowrap !important

.player
    bottom 0
    width 100%
    background #362a51
    color #fff
    display flex
    flex-wrap wrap
    position relative
    position sticky
    position -webkit-sticky
    top -1px
    z-index 2
    button
        background #362a51
        border 0
        color #fff
        padding 0 1rem
        height 100%
        border-right 1px solid rgba(0, 0, 0, 0.6)
        &:hover
            background #ffbd3b

.player__section
    order 2

.player__section--left
    width 100px
    min-width 80px
    & > *
        width 100%

@media (max-width: 650px)
    .player__section--left
        flex 1

.player__section--middle
    position relative
    flex 1 1 auto
    border-right 1px solid rgba(0, 0, 0, 0.6)
    display flex
    flex-direction column

@media (max-width: 650px)
    .player__section--middle
        order 1
        width 100%
        border-bottom 1px solid rgba(0, 0, 0, 0.6)

.player__section--right
    display flex
    & > *
        width 100%

@media (max-width: 650px)
    .player__section--right
        flex 2

.player__icon
    font-size 1.25rem
    line-height 0.5

.player__title
    font-size 1rem
    font-weight inherit
    margin 0
    flex 1 0 auto
    display flex
    align-items center
    max-width 650px

.player__tooltip
    position absolute
    top 22px
    transform translate(-50%)
    opacity 0
    background #362a51
    &:after
        content ' '
        position absolute
        bottom 94%
        left 50%
        margin-left -2px
        border-width 2px
        border-style solid
        border-color transparent transparent #fff transparent

.player__speeddisplay
    height 1.5rem
    display flex
    justify-content center
    align-items center

.player__speed
    flex 0 1 auto
    padding 0 1rem
    display flex
    flex-wrap wrap
    justify-content space-around
    flex-direction column
    align-items center
    & > *
        width 100%
        margin 0

.player__speed__display
    height 1.5rem

.player__inputs
    font-size 0

.player__volume
    width 120px
    text-align center
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    padding 0 1rem
    flex-wrap wrap
    flex 1 0 auto
    &:focus-within
        outline #ffbd3b auto 5px
    &:hover
        label
            border-top 1px solid #ffbd3b
    label
        cursor pointer
        border-top 1px solid #ffbd3b
        &:hover
            & ~ label
                border-top 1px solid #362a51
    p
        width 100%
        margin 0
    input
        & ~ label
            background #ffbd3b
            border-right 2px solid #362a51
            display inline-block
            width 8px
            height 1.5rem
        &:checked
            & ~ label
                background #808080
            & + label
                background #ffbd3b

.progress
    background #614f87
    height 1rem
    cursor pointer
    overflow hidden

.progress__time
    background #309397
    border-right 3px solid #ffbd3b
    min-width 20px
    height 100%
    transition width 0.1s